---
layout: page
---

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(assets/images/bg_home.webp);background-position:top center;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>{{ site.partner1 }} &amp; {{ site.partner2 }}</h1>
                        <h2>Wir heiraten</h2>
                        <div class="simply-countdown simply-countdown-one"></div>
                        <p><a href="elisabetta_pascal_wedding.ics" class="btn btn-default btn-sm">Save the date</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% include_relative _content/couple.html %}

<div id="fh5co-event" class="fh5co-bg" style="background-image:url(assets/images/fairmont1.webp);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h2>Unser besonderer Tag</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                <div class="event-wrap animate-box">
                    <h3>Hochzeitzeremonie und Party</h3>
                    <div class="event-col">
                        <i class="icon-clock"></i>
                        <span>16:00</span>
                    </div>
                    <div class="event-col">
                        <i class="icon-calendar"></i>
                        <span>Sat 25</span>
                        <span>July, 2026</span>
                    </div>
                    <p>
                        Unsere Hochzeitsfeier findet in Montreux statt an der wunderschönen 
                        Schweizer Riviera im majestätischen Fairmont Montreux Palace.

                        Weitere Details folgen in Kürze.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% include_relative _content/rsvp.html %}